.wrapper{
    width: 100%;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 60vh;
}  
    
#container{
 
    display: grid;
    grid-template-areas: 
        'h h h h'
        'm m m m'
        'c c c c'
        'f f f f';
    grid-template-rows: 80px 50px auto 70px;
}

#container div{
    text-align: center;   
    
}

#header{
    background-color: #1c6178;
    grid-area: h;
    font-weight:bolder;    
}
#menu-container > div{
    border-right: 1px solid black;
    text-align: center;
    width: 100px;
    
}
#menu-container{
   display: flex; 
   background-color: #456e6e; 
   grid-area: m;
   color: white;
   
}

#column-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    grid-area: c;
    height: 73vh;
}

#column-container div{
    width: fit-content;
    
    
}

#column1{
    background-color: #9a9898;
    grid-area: c1;
    flex-grow: 2;
}

#column2{
    background-color: #747272;
    grid-area: c2;
    flex-grow: 4; 
}
#column3{
    background-color: #bab7b7;
    grid-area: c3;
    flex-grow: 2;
}

#footer{
    background-color: #2F4F4F;
    grid-area: f;
    color: gray;
    height: 10vh;
}
@media only screen and (max-width: 600px) {
    #column-container {
        display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-area: c;
      background-color: lightblue;
    }
    #column-container div {
        width: 100vw;
      }
    
      #column1 {
        background-color: #9a9898;
        grid-area: c1;
        flex-grow: 2;
        width: 60vw;
      }
    
      #column2 {
        background-color: #747272;
        grid-area: c2;
        flex-grow: 4;
        width: 60vw;
      }
      #column3 {
        background-color: #bab7b7;
        grid-area: c3;
        flex-grow: 2;
        width: 60vw;
      }
  }
